---
pagination:
  data: articles
  size: 1
  alias: article
permalink: "/articles/{{ article.id }}/index.html"
---

<!DOCTYPE html>
<html>
    <head>
        <title>{{ article.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <h1>{{ article.title }}</h1>
        <div class="markdown-body capped-width">
            {{ article.contentHtml | safe }}
        </div>
    </body>
</html>