<!DOCTYPE html>
<html lang="en">
    <head>
        <title>How to Report It</title>
        <link rel="stylesheet" href="../css/styles.css"/>
    </head>
    <body>
        <nav>{% include "./partials/nav.njk" %}</nav>
        <main class="px-4 py-6 capped-width">
            <search class="wrapper">
                <section class="inner-wrapper">
                    <h1 class="heading">What do you want to fix?</h1>
                    <section id="filters-background">
                        <p>Filters</p>
                        <section id="filters-section" class="flex flex-col gap-3">
                            <div id="first" class="flex flex-1 flex-col gap-1">
                                <label class="label" for="places">
                                    <p class="">Give permission to use my location</p>
                                </label>
                                <select id="locationFilter" class="flex h-10 flex-col items-start justify-center border border-black bg-white">
                                    <option value="">All Locations</option>
                                    {% for location in filters.locations %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button
                                onclick$={useCurrentLocation}
                                disabled={isFetchingLocation.value}
                                class="location-button flex h-full w-full justify-center gap-2 rounded-md bg-accent-yellow p-2 font-semibold text-white">
                                Current Location
                            </button>
                            <section id="second">
                                <div id="first" class="flex flex-1 flex-col">
                                    <select id="categoryFilter" class="flex h-10 flex-col items-start justify-center border border-black bg-white">
                                        <option value="">Select Category</option>
                                        {% for category in filters.categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="first" class="flex h-10 flex-1 flex-col justify-center">
                                    <select id="subcategoryFilter" class=" p-2 border rounded bg-neutral-50">
                                        <option value="">Select Subcategory</option>
                                        <!-- Subcategories will be populated by JavaScript based on selected category -->
                                    </select>
                                </div>
                            </section>
                        </section>
                        <section class="flex flex-wrap gap-2">
                            <button class="ml-auto text-accent-blue " onclick$={clearFilters}>
                                Clear all filters
                            </button>
                        </section>
                    </section>
                    <section id="input-wrapper" class="input-wrapper focus-within:border-accent-green">
                        <input type="text" id="search" placeholder="Search..." class="focus:outline-none">
                    </section>
                </section>
            </search>
            <!-- Article List -->
            <div id="articleList" class="mt-4 solutions-wrapper">
                {% for article in collections.howToFix %}
                    <article data-tags="{{ article.data.tags | join('$ ') }}" data-location="{{ article.data.location }}" data-title="{{ article.data.title }}" data-description="{{ article.data.description }}" id="{{article.data.electedId}}">
                        <a href="{{ article.url }}" class="flex h-full flex-grow justify-start">
                            <section class="w-full h-full">
                                <section class="justify-start flex card-image" style="background-image:url('{{ article.data.headerImage|url }}');">
                                    <aside class="type bg-accent-green ">
                                        Fix it yourself
                                    </aside>
                                </section>
                                <section class="bg-neutral-50">
                                    <section class="w-full flex text-white px-3 py-2 gap-2 bg-accent-green h-8">
                                        <h2>{{ article.data.location }}</h2>
                                    </section>
                                    <section class="flex flex-col justify-between h-full">
                                        <h3 class="gray-text flex-1 px-3">{{ article.data.title }}</h3>
                                        <section class="flex gap-3 items-center px-3">
                                            <img
                                                decoding="async"
                                                loading="lazy"
                                                class="image"
                                                src="https://storageforfixlocal.blob.core.windows.net/dev/logo-square.png"
                                                alt="Rounded avatar"/>
                                            <p class="lighter-gray-text">
                                                by Fix Local
                                            </p>
                                            <span></span>
                                            <p class="semi-bold-light-gray-text">
                                                {{ article.data.readTime }} min read
                                            </p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </a>
                        <section class="tag-wrapper px-3 pb-3 bg-neutral-50 rounded-b-lg">
                            {% for tag in article.data.tags | slice(2) %}
                                <a key="{{ tag }}" class="w-max rounded-xl bg-white px-2 py-1 font-semibold border truncate first-letter:capitalize hover:text-white hover:bg-accent-green border-accent-green text-accent-green" href="{/find-solution/both¿tags=${encodeURIComponent(encodeTag(tag))}&opened=${encodeURIComponent(encodeTag(tag))}}">
                                    <abbr title="{{ tag }}" class="no-underline">{{ tag }}</abbr>
                                </a>
                            {% endfor %}
                        </section>
                    </article>
                {% endfor %}
            </div>

            <!-- Loading spinner -->
            <article class=" h-[30rem] justify-center items-center animate-spin hidden" id="spinner-wrapper">
                <svg viewBox="0 0 100 101" fill="none" width="100" height="100" class="text-gray-200 fill-primary aspect-square">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
            </article>
        </main>
        <footer>{% include "./partials/footer.njk" %}</footer>
        <script>
            window.env = {{ env | toJson | safe }};
        </script>
        <script src="/assets/js/filter.js"></script>
    </body>
</html>