<!DOCTYPE html>
<html lang="en">
    <head>
        <title>How to Report It</title>
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        <nav>{% include "./partials/nav.njk" %}</nav>
        <main class="px-4 py-12">
            <search class="wrapper">
                <section class="inner-wrapper">
                    <h1 class="heading">What do you want to fix?</h1>
                    <section id="filters-background">
                        <p>Filters</p>
                        <section id="filters-section" class="flex flex-col gap-3">
                            <div id="first" class="flex flex-1 flex-col gap-1">
                                <label class="label" for="places">
                                    <p class="">Give permission to use my location</p>
                                </label>
                                <select id="locationFilter" class="flex h-10 flex-col items-start justify-center border border-black bg-white">
                                    <option value="">All Locations</option>
                                    {% for location in filters.locations %}
                                        <option value="{{ location }}">{{ location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button
                                onclick$={useCurrentLocation}
                                disabled={isFetchingLocation.value}
                                class="location-button flex h-full w-full justify-center gap-2 rounded-md bg-accent-yellow p-2 font-semibold text-white">
                                Current Location
                            </button>
                            <section id="second">
                                <div id="first" class="flex flex-1 flex-col">
                                    <select id="categoryFilter" class="flex h-10 flex-col items-start justify-center border border-black bg-white">
                                        <option value="">Select Category</option>
                                        {% for category in filters.categories %}
                                            <option value="{{ category }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="first" class="flex h-10 flex-1 flex-col justify-center">
                                    <select id="subcategoryFilter" class=" p-2 border rounded bg-neutral-50">
                                        <option value="">Select Subcategory</option>
                                        <!-- Subcategories will be populated by JavaScript based on selected category -->
                                    </select>
                                </div>
                            </section>
                        </section>
                    </section>
                    <section id="input-wrapper" class="input-wrapper focus-within:border-accent-blue">
                        <input type="text" id="search" placeholder="Search..." class="focus:outline-none">
                    </section>
                </section>
            </search>
            <!-- Article List -->
            <div id="articleList" class="mt-4 solutions-wrapper">
                {% for article in collections.howToReport %}
                    <article data-tags="{{ article.data.tags | join('$ ') }}" data-location="{{ article.data.location }}" data-title="{{ article.data.title }}" data-description="{{ article.data.description }}">
                        <a href="{{ article.url }}" class="flex h-full flex-grow justify-start">
                            <section class="w-full h-full">
                                <section class="justify-start flex card-image" style="background-image:url('{{ article.data.headerImage|url }}');">
                                    <aside class="type bg-accent-blue ">
                                        How to report it
                                    </aside>
                                </section>
                                <section class="bg-neutral-50">
                                    <section class="w-full flex text-white px-3 py-2 gap-2 bg-accent-blue h-8">
                                        <h2>{{ article.data.location }}</h2>
                                    </section>
                                    <section class="flex flex-col justify-between h-full">
                                        <h3 class="gray-text flex-1 px-3">{{ article.data.title }}</h3>
                                        <section class="flex gap-3 items-center px-3">
                                            <img
                                                decoding="async"
                                                loading="lazy"
                                                class="image"
                                                src="https://storageforfixlocal.blob.core.windows.net/dev/logo-square.png"
                                                alt="Rounded avatar"/>
                                            <p class="lighter-gray-text">
                                                by Fix Local
                                            </p>
                                            <span></span>
                                            <p class="semi-bold-light-gray-text">
                                                {{ article.data.readTime }} min read
                                            </p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </a>
                        <section class="tag-wrapper px-3 pb-3 bg-neutral-50 rounded-b-lg">
                            {% for tag in article.data.tags | slice(2) %}
                                <a key="{{ tag }}" class="w-max rounded-xl bg-white px-2 py-1 font-semibold border truncate first-letter:capitalize hover:text-white hover:bg-accent-blue border-accent-blue text-accent-blue" href="{/find-solution/both¿tags=${encodeURIComponent(encodeTag(tag))}&opened=${encodeURIComponent(encodeTag(tag))}}">
                                    <abbr title="{{ tag }}" class="no-underline">{{ tag }}</abbr>
                                </a>
                            {% endfor %}
                        </section>
                    </article>
                {% endfor %}
            </div>
        </main>
        <footer>{% include "./partials/footer.njk" %}</footer>
        <script src="/assets/js/filter.js"></script>
    </body>
</html>