<header class="full-header h-24">
    <section class="clickable-header" onclick$={handleClickHeader}>
        <section class="title-container">
               <img src="../../assets/media/text-colored-logo.svg" />
        </section>
        <ul class="sub-buttons justify-end">
            <li>Home</li>
            <li>About us</li>
            <li>Partners</li>
            <li>Contact us</li>
        </ul>
    </section>
    <p class="hamburger-menu" onclick$={handleClick}>
        <LuAlignJustify/>
    </p>
    <style>
    </style>
</header>